@import url('./bootstrap.min.css');

div.container, div.container-fluid {
    margin-top: 20px;
}

div.ann-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}
div.ann-title h1, div.ann-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.ad-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.carousel-caption {
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5) !important;
    color: whitesmoke !important;
}
div.carousel-caption h5 {
    color: whitesmoke !important;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-micro {
    max-width: 30px;
    max-height: 30px;
}
.avatar-medium {
    max-height: 64px;
    max-width: 64px;
}

.avatar-mini {
    max-width: 30px;
    max-height: 30px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}